{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "hopehub-clinic-prod",
    "storage_bucket": "hopehub-clinic-prod.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef123456",
        "android_client_info": {
          "package_name": "com.hopehubclinic.patient"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyExampleKeyForPatientApp"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
